.linh,
.linh:visited,
.valentino,
.valentino:visited, .deadCoderLink {
  color: #2b4792;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  outline: none;
  line-height: 2
}


.linh:hover,
.linh:active,
.valentino:hover,
.valentino:active, .deadCoderLink:hover, .deadCoderLink:active {
  color: #2b4792;
  background-color: #199282;
  padding: 5px 5px;
  margin: 0 0 20px 0;
}

.deadCoder{
  text-align: center;
  font-size: 2rem;
}